body {
    max-width: 45em;
    font-family: 'Trebuchet MS', sans-serif;
    background: floralwhite;
    color: brown;
    margin: 3.5em;
}

.header {
    background: palevioletred;
    font-weight: bold;
    padding: 1em 1em;
    font-size: 2em;
    border-radius: .5em;
    margin-top: .2em;
    width: 30em;
}

.login {
    background: darkseagreen;
    width: 25em;
    padding: 1em;
    border-radius: .5em;
    position: absolute;
    bottom: 42em;
    left: 70em;
}

.search {
    background: darkseagreen;
    width: 25em;
    padding: 1em;
    border-radius: .5em;
    position: absolute;
	bottom: 42em;
	left: 30em;
}

.pos {
	margin: 3.5em;
}


