body {
    max-width: 45em;
    font-family: 'Trebuchet MS', sans-serif;
    background: floralwhite;
    color: brown;
    margin: 3.5em;
    position: absolute;
}

.header {
    background: palevioletred;
    font-weight: bold;
    padding: 1em 1em;
    font-size: 2em;
    border-radius: .5em;
    width: 30em;
}

.login {
    background: darkseagreen;
    width: 25em;
    padding: 1em;
    border-radius: .5em;
    position: relative;
    bottom: 3em;
    left: 70em;
}

.search {
    background: darkseagreen;
    width: 25em;
    padding: 1em;
    border-radius: .5em;
    position: relative;
	top: 5em;
	left: 30em;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
}
