body {
    max-width: 45em;
    font-family: 'Trebuchet MS', sans-serif;
    background: black;
    color: lavenderblush;
    margin: 3.5em;
    position: absolute;
}

.header {
    background: black;
    font-weight: bold;
    padding: 1em 1em;
    font-size: 2em;
    border-radius: .5em;
    width: 30em;
    border-style: outset;
    border-right-width: .3em;
    border-left-width: .3em;
    border-bottom-width: .2em;
    border-top-width: .2em;
    border-color: palevioletred;
}

.login {
    background: black;
    width: 25em;
    padding: 1.3em;
    border-radius: 1em;
    position: relative;
    bottom: 4em;
    left: 70em;
    transform: scale(1.1, 1.1);
    border-style: double;
    border-color: lightpink;
    border-top-width: .5em;
    border-bottom-width: .5em;
}

.search {
    background: black;
    width: 25em;
    padding: 1em;
    border-radius: 1em;
    position: relative;
	top: 5em;
	left: 30em;
	transform: scale(1.1, 1.1);
	border-style: double;
	border-color: thistle;
	border-right-width: .5em;
    border-left-width: .5em;
    height: 4em;
}

#container {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 10px;
}

nav {
	font-size: 1.4em;
	padding: .8em;
}

#container label {
	position: relative;
	left: 10px;
}

#container input {
	float: right;
	position: relative;
	right: 40px;
}

#container a {
	position: relative;
	left: 10px;
}

#button:hover{
    background: black;
    color: white;
}

#button {
    background: mistyrose;
}

a:link {
	color: mediumvioletred;
}

a:visited {
	color: mediumvioletred;
}

a:hover {
	color: plum;
}


