.new_thread {
    width: 40em;
    padding: 0.7em;
    font-size: 1.3em;
}

.new_thread #accept:hover{
    background: black;
    color: white;
}

.new_thread #accept {
    font-size: 1em;
    background: mistyrose;
}

.new_thread #headline {
    width: 30em;
    font-size: 1em;
}


.new_thread textarea {
    width: 52em;
    font-size: 1em;
}
