.options {
    font-size: 1.3em;
	line-height: 1.1;
	padding: 0.5em;
}

.options button:hover{
    background: black;
    color: white;
}

.options button {
    font-size: 1em;
    background: mistyrose;
}

.options #div1 {
    position: relative;
    left: 15em;
    bottom: 2.5em;
}

.options #div2{
    position: relative;
    left: 15em;
    bottom: 2.2em;
}

.options #div3 {
    position: relative;
    left: 15em;
    bottom: 2.2em;
}

.options #div4 {
    position: absolute;
    left: 60em;
    top: 10em;
}

