{% extends "layout.html" %}
{% block content %}
<p>
Alueet
<p>
<a href="/secret_topics">Salaiset alueet</a>
<p>
{% for topic in topics %}
<a href="/topics{{ topic[0] }}">{{ topic[1] }}</a>
<p>
Ketjujen määrä: {{topic[2]}} 
<p>
Vastauksien määrä: {{ topic[3] }} 
<p>
{% if topic[4] == None %}
Viimeisin vastaus: ei vastauksia
{% else %}
Viimeisin vastaus: {{ topic[4].strftime("%Y-%m-%d %H:%M:%S") }}
{% endif %}
<p>
{% endfor %}

{% if session.user_role == 1 %}
<a href="/topic_options">Alueiden hallinta</a>
{% endif %}
{% endblock %}
