<!DOCTYPE html>
<title>Keskustelufoorumi</title>
Keskustelufoorumi
<p>
Tervetuloa keskustelufoorumille!
<p>
{% if session.user_id %}
Olet kirjautunut sisään
<p>
<a href="/logout">Kirjaudu ulos</a>
<p>
{% else %}
<form action="/login" method="POST">
Käyttäjätunnus: <input type="text" name="username" size="20">
<p>
Salasana: <input type="password" name="password" size="20">
<p>
<input type="submit" value="Kirjaudu sisään">
</form>
<p>
<a href="/register">Rekisteröidy</a>
{% endif %}
<p>
Alueet
<p>
{% for topic in topics %}
<a href="/topics{{ topic[0] }}">{{ topic[1] }}</a>
<p>
Ketjujen määrä: {{topic[2]}} 
<p>
Vastauksien määrä: {{ topic[3] }} 
<p>
Viimeisin vastaus: {{ topic[4] }}
<p>
{% endfor %}

