<!DOCTYPE html>
<link rel="stylesheet" href="static/css/topic_list.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

{% extends "layout.html" %}
{% block content %}

<div class="headline">
  Alueet
  <a id="secret" href="/secret_topics">Salaiset alueet</a>
</div>
  
<div class="topic">
  {% for topic in topics %}
  <a id="name"  href="/topics{{ topic[0] }}">{{ topic[1] }}</a>
  <p>
  <text1>
  Ketjujen määrä: {{topic[2]}} <br>
  Vastauksien määrä: {{ topic[3] }} 
  </text1>
  <p>
  <text2>
  {% if topic[4] == None %}
  Viimeisin vastaus: ei vastauksia
  <hr></hr>
  {% else %}
  Viimeisin vastaus: {{ topic[4].strftime("%Y-%m-%d %H:%M:%S") }}
  <hr></hr>
  {% endif %}
  {% endfor %}
  </text2>
    
  <p>
  {% if session.user_role == 1 %}
  <a id="topic_options" href="/topic_options">Alueiden hallinta</a>
  {% endif %}
  
  {% endblock %}
</div>
