<!DOCTYPE html>
<link rel="stylesheet" href="static/css/base.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  
  <div class="header">
	<h1>Palsta</h1>
	Tervetuloa palstalle!
  </div>
  
  <nav>
      <a href="/">Etusivu</a>
	  {% block link %}{% endblock %}
  </nav>
  
  {% block content %}{% endblock %}
  
  <div id="container">
  <div class="search">
    <p>
    <form action="/result" method="GET">
    <label for="query">Hae viestiä:</label>
    <input type="text" name="query">
    <p>
    <input id="button" type="submit" value="Hae">
    </form>
    <p>
  </div>
  
  <div class="login">
    {% if session.user_id %}
    <text id="logged_in">
    Olet kirjautunut nimellä
    <text style="color:deeppink;">{{ session.username }}</text>
    </text>
    <p>
    <a href="/logout">Kirjaudu ulos</a>
    <p>
    {% else %}
    <form action="/login" method="POST">
    <label for="username">Käyttäjätunnus:</label>
    <input type="text" name="username" size="20">
    <p>
    <label for="password">Salasana:</label>
    <input type="password" name="password" size="20">
    <p>
    <input id="button" type="submit" value="Kirjaudu sisään">
    </form>
    <p>
    <a id ="new_user" href="/register">Rekisteröidy</a>
    {% endif %}
 </div>
 
 <div class="topics">
     <p style="font-size:30px;">ALUEET</p>
     <p>
     {% for topic in topic_list %}
     <a id="name" style="color:pink;font-size:25px;" href="/topics{{ topic[1] }}">{{ topic[0] }}</a>
     <br>
     {% endfor %}
 </div>
     
 </div>

</body>
