<!DOCTYPE html>
<link rel="stylesheet" href="static/css/new_thread.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
    function check(form) {
        if (form.title.value.length == 0) {
            alert("Kirjoita ketjulle otsikko");
            return false;
        }
        if (form.op_content.value.length == 0) {
            alert("Kirjoita aloitusviesti");
            return false;
        }
        return true;
    }
</script>

{% extends "layout.html" %}
{% block link %}

{% if topic_info[0][1] == 1 %}
/ <a href="topic" onclick="history.go(-2)">Salaiset alueet</a>
{% endif %}
/ <a href="topic" onclick="history.go(-1)">{{ topic_info[0][0] }}</a>
/ Luo uusi ketju

{% endblock %}
{% block content %}

<div class="new_thread">
    <p>
    <form action="/create_new" method="POST" onsubmit="return check(this)">
        Otsikko:
        <br>
        <input id="headline" type="text" name="title" maxlength="45">
        <p>
            Aloitusviesti:
            <br>
            <textarea name="op_content" rows="7" cols="60" maxlength="1000"></textarea>
        <p>
            <input id="accept" type="submit" value="Luo ketju">
            <input type="hidden" name="topic_id" value="{{ topic_id }}">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
    </form>
</div>

{% endblock %}