<!DOCTYPE html>
<link rel="stylesheet" href="static/css/topic_list.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script>
function add() {
  var x = document.getElementById("div1");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script> 

{% extends "layout.html" %}
{% block link %}
/ Salaiset alueet
{% endblock %}
{% block content %}

<div class="headline">
  Salaiset alueet
</div>

<div class="topic">
  {% for s_topic in s_topics %}
  <a id="name" href="/access{{ s_topic[0] }}">{{ s_topic[1] }}</a>
  <p>
  <text1>
  Ketjujen määrä: {{ s_topic[2] }} <br>
  Vastauksien määrä: {{ s_topic[3] }}
  </text1>
  <p>
  <text2>
  {% if s_topic[4] == None %}
  Viimeisin vastaus: ei vastauksia
  <hr></hr>
  {% else %}
  Viimeisin vastaus: {{ s_topic[4].strftime("%Y-%m-%d %H:%M:%S") }}
  <hr></hr>
  {% endif %}
  </text2>
  <p>

  {% if session.user_id == s_topic[5] %}
  <button onclick="add()">Lisää käyttäjiä alueelle</button>
  <hr></hr>
  <div id="div1" style="display: none;">
  <form action="/add_secret_users" method="POST">
  Valitse käyttäjät, jotka näkevät alueen:
  <textarea name="choises" rows="5" cols="20" placeholder="käyttäjä_1&#10;käyttäjä_2&#10;käyttäjä_3&#10;jne.">
  </textarea>
  <p>
  <input type="hidden" name="topic_id" value="{{ s_topic[0] }}">
  <input type="submit" value="Hyväksy">
  </form>
  Lista käyttäjistä:
  <select name="list" multiple="multiple">
  {% for user in users %}
  {% if session.user_id != user[0] %}
  <option value="{{ user[0] }}">{{ user[1] }}</option>
  {% endif %}
  {% endfor %}
  </select>
  <hr></hr>
  <p>
  </div>
  {% endif %}
  {% endfor %}
  {% endblock %}
</div>
