<!DOCTYPE html>
<link rel="stylesheet" href="static/css/topic_list.css">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script>
  function add(topic) {
    var x = document.getElementById(topic);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>

{% extends "layout.html" %}
{% block link %}

/ Salaiset alueet

{% endblock %}
{% block content %}

<div class="headline">
  Salaiset alueet
</div>

<div class="topic">
  {% for s_topic in s_topics %}
  <a id="name" href="/topics{{ s_topic[0] }}">{{ s_topic[1] }}</a>
  <p>
    <text1>
      Ketjujen määrä: {{ s_topic[2] }} <br>
      Vastauksien määrä: {{ s_topic[3] }}
    </text1>
  <p>
    <text2>
      {% if s_topic[4] == None %}
      Viimeisin vastaus: ei vastauksia
      <hr>
      </hr>
      {% else %}
      Viimeisin vastaus: {{ s_topic[4].strftime("%Y-%m-%d %H:%M:%S") }}
      <hr>
      </hr>
      {% endif %}
    </text2>
  <p>

    {% if session.user_id == s_topic[5] %}
    <button onclick="add({{ s_topic[0] }})">Lisää käyttäjiä alueelle</button>
    <hr>
    </hr>
  <div id="{{ s_topic[0] }}" style="display: none;">
    <form action="/add_secret_users" method="POST">
      Valitse käyttäjät, jotka lisätään alueelle:
      <textarea id="add_textarea" name="choises" rows="7" cols="30"
        placeholder="käyttäjä_1&#10;käyttäjä_2&#10;käyttäjä_3&#10;jne.">
  </textarea>
      <p>
        <input type="hidden" name="topic_id" value="{{ s_topic[0] }}">
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input id="accept" type="submit" value="Hyväksy">
    </form>
    <hr>
    </hr>
    <p>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}