<script>
function add() {
  var x = document.getElementById("div");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script> 

{% extends "layout.html" %}
{% block link %}
TESTI
{% endblock %}
{% block content %}

Salaiset alueet
<p>
{% for s_topic in s_topics %}
<a href="/access{{ s_topic[0] }}">{{ s_topic[1] }}</a>
<p>
Ketjujen määrä: {{ s_topic[2] }} 
<p>
Vastauksien määrä: {{ s_topic[3] }} 
<p>
{% if s_topic[4] == None %}
Viimeisin vastaus: ei vastauksia
{% else %}
Viimeisin vastaus: {{ s_topic[4].strftime("%Y-%m-%d %H:%M:%S") }}
{% endif %}
<p>
{% if session.user_id == s_topic[5] %}
<button onclick="add()">Lisää käyttäjiä alueelle</button>
<div id="div" style="display: none;">
<form action="/add_secret_users" method="POST">
Valitse käyttäjät, jotka näkevät alueen:
<textarea name="choises" rows="5" cols="20" placeholder="käyttäjä_1&#10;käyttäjä_2&#10;käyttäjä_3&#10;jne.">
</textarea>
<p>
<input type="hidden" name="topic_id" value="{{ s_topic[0] }}">
<input type="submit" value="Hyväksy">
</form>
Lista käyttäjistä:
<select name="list" multiple="multiple">
{% for user in users %}
{% if session.user_id != user[0] %}
<option value="{{ user[0] }}">{{ user[1] }}</option>
{% endif %}
{% endfor %}
</select>
</div>
{% endif %}
{% endfor %}
{% endblock %}
