<!DOCTYPE html>
<link rel="stylesheet" href="static/css/topic_options.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script>
function create1() {
  var x = document.getElementById("div1");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function create2() {
  var x = document.getElementById("div2");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function delete_() {
  var x = document.getElementById("div3");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}

function check(form) {
    if (form.topic_name.value.length == 0) {
        alert("Kirjoita alueen nimi");
        return false;
    }
    if (form.password1.value.length < 4) {
        alert("Salasanan on oltava vähintään neljän merkin pituinen");
        return false;
    }
    if (form.password1.value != form.password2.value) {
        alert("Salasanat eivät täsmää");
        return false;
    }
    return true;
}
</script>

{% extends "layout.html" %}
{% block link %}
/ Alueiden hallinta
{% endblock %}
{% block content %}

<div class="options">
     <p>
     <button onclick="create1()">Luo yleinen alue</button>
     <div id="div1" style="display: none;">
     <form action="/create_topic" method="POST" onsubmit="return check(this)">
     Anna alueelle nimi: <input type="text" name="topic_name" maxlength="40">
     <p>
     <input type="submit" value="Hyväksy">
     </form>
     </div>
    
     <p>
     <button onclick="create2()">Luo salainen alue</button>
     <div id="div2" style="display: none;">
     <form action="/create_secret_topic" method="POST" onsubmit="return check(this)">
     Anna alueelle nimi: <input type="text" name="topic_name" maxlength="40">
     <p>
     Valitse käyttäjät, jotka näkevät alueen:
     <textarea name="choises" rows="5" cols="20" placeholder="käyttäjä_1&#10;käyttäjä_2&#10;käyttäjä_3&#10;jne."></textarea>
     <p>
     <input type="submit" value="Hyväksy">
     </form>
     Lista käyttäjistä:
     <select name="list" multiple="multiple">
     {% for user in users %}
     {% if session.user_id != user[0] %}
     <option value="{{ user[0] }}">{{ user[1] }}</option>
     {% endif %}
     {% endfor %}
     </select>
     </div>
   
     <p>
     <button onclick="delete_()">Poista alue</button>
     <div id="div3" style="display: none;">
     <form action="/delete_topic" method="POST" onsubmit="return check(this)">
     Anna alueen nimi: <input type="text" name="topic_name" maxlength="40">
     <p>
     <input type="submit" value="Hyväksy">
     </form>
     </div>
     <p>
     
     <div id="div4">
     <p style="text-align:center;font-size:30px;">ALUEET</p>
     <p>
     {% for topic in topics %}
     <p style="text-align:center;color:pink;font-size:25px;">{{ topic[0] }}</p>
     <p>
     {% endfor %}
     </div>
</div>
 {% endblock %}
