{{ topic[0][0] }}
<p>
<a href="/new{{ topic_id }}">Luo uusi ketju</a>
<p>
Ketjut
<p>
{% if topic[0][1] == None %}
Ei ketjuja
{% else %}
{% for thread in topic %}
<a href="/thread{{ thread[1] }}">{{ thread[2] }}</a>
{{ thread[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p>
{% endfor %}
{% endif %}
<p>
{% if topic[0][5] == 1 %}
Alueen käyttäjät:
<p>
<select name="list" multiple="multiple">
{% for user in users %}
{% if session.user_id != user[0] %}
<option value="{{ user[0] }}">{{ user[0] }}</option>
{% endif %}
{% endfor %}
</select>
{% endif %}
<p>
<a href="/">Etusivulle</a>
